appdirs==1.4.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.11
enum34==1.1.6
ipython==4.2.1
ipython-genutils==0.1.0
oauthlib==2.0.1
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
ptyprocess==0.5.1
pyparsing==2.1.10
requests==2.13.0
requests-oauthlib==0.7.0
scandir==1.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
